#register-section h1 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#register-section p {
    color: gray;
    margin-bottom: 10px;
}

#register-section form {
    width: 50%;
    margin: auto;
    background-color: yellowgreen;
    padding: 20px;
}

#register-section form * {
    display: block;
    width: 100%;
}

#register-section h1 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#register-section p {
    color: gray;
    margin-bottom: 10px;
}

#register-section form {
    width: 50%;
    margin: auto;
    background-color: yellowgreen;
    padding: 20px;
}

#register-section form * {
    display: block;
    width: 100%;
}